RMI2/src/ie/gmit/sw/Model/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Customer" xmlns:tns="http://www.example.org/Customer" elementFormDefault="qualified">
	<element name="Customer">
		<complexType>
			<sequence>
			    <element name="CustID" type="int"></element>
				<element name="Name" type="string"></element>
				<element name="Address" type="string"></element>
			</sequence>
		</complexType>

	</element>
</schema>